p {
	font-size: .9em;
	font-family: comic-sans;
	margin: 0 20px;
	text-align: left;
}

.title {
	background-color: rgb(255,255,255);
	font-family: comic-sans;
	display: inline-block;
	border: solid black;
	border-radius: 4px;
	padding: 4px;
}

.about{
	width: 600px;
	margin: auto;
	background-color: white;
	opacity: .8;
	border: solid black 3px;
	border-radius: 3px;
	padding: 4px;
}