p {
	font-size: .9em;
	font-family: comic-sans;
	margin: 0 20px;
	text-align: left;
}

h1 {
	background-color: rgb(255,255,255);
	font-family: comic-sans;
	display: inline-block;
	border: solid black;
	border-radius: 4px;
	padding: 4px;
}

.about{
	width: 600px;
}