
.homepage{
	border: none;
	background-color: none;
}
.homepage:hover{
	background-color: none;
}

ul{
	list-style: none;
}
 
.btn{
	display: inline;
	position: absolute;
	background-color: rgb(255,255,255);
	border: solid black;
	background-color: white;
	font-size: .8em;
	padding: 2px;
	border-radius: 3px;
}

.logout {
	right: 10px;
	background-color: white;
}

.currentOrders {
	right: 10px;
	margin: 60px 0;
}

.newOrder{
	right: 10px;
	margin: 120px 0;
}

.exclamation{
	color:red;
	font-size: 1.3em;
}

h1{
	color:black;
	border: solid black 3px;
	display: inline-block;
	border-radius: 3px;
	background-color: white;
} 

.header-bar{
	text-align: center;
	font-family: "Permanent Marker"
}

/* Non-mobile, grid */
@media only screen and (min-width: 640px) {
  	
  h1 {
	font-size: 2em;
      };

  .login-form > input {
    width: 20%;
  };
  .btn{
  	font-size: 1.8em;
  };
}