.homepage{
	border: none;
	background-color: none;
}

.homepage:hover{
	background-color: none;
}

ul{
	list-style: none;
}
 
.btn {
	display: inline;
	position: absolute;
	background-color: rgb(255,255,255);
	border: solid black;
	background-color: white;
	font-size: 1em;
	padding: 2px;
	border-radius: 10px;
	z-index:1;
}

.main {
	font-size: 1.5em;
}


.logout:hover, .currentOrders:hover, .newOrder:hover{
	background-color:black;
	color: white;
	-webkit-transition: background-color 1s ease-out;
	-moz-transition: background-color 1s ease-out;
	-o-transition: background-color 1s ease-out;
	transition: background-color 1s ease-out;
}

.currentOrders {
	right: 10px;
	margin: 60px 0;
	font-size: 1em;
}

.newOrder {
	right: 10px;
	margin: 120px 0;
	font-size: 1em;
}

.logout {
	right: 10px;
	background-color: white;
	font-size: 1em;
}

.exclamation{
	color:red;
	font-size: 1.3em;
}

h1 {
	color:black;
	border: solid black 3px;
	display: inline-block;
	border-radius: 3px;
	background-color: white;
} 

.header-bar {
	text-align: center;
	font-family: "Permanent Marker";
	margin-bottom: 20px;
	padding: 0px 10px;
}

.main{
	cursor: pointer;
	-webkit-transition: background-color 1s ease-out;
	-moz-transition: background-color 1s ease-out;
	-o-transition: background-color 1s ease-out;
	transition: background-color 1s ease-out;
	display: inline-block;
	background-color:white;
	text-align: center;
	text-decoration: none;
	border-radius: 3px;
	border: solid black 3px;
	color: black;
	background-color: white;
	font-size: 1.5em;
	padding: 3px;
}


.main:hover {
	background-color:black;
	color:white;
}

/* Non-mobile, grid */
@media only screen and (min-width: 640px) {
	.main{
		font-size: 3em;
	}
  h1 {
	font-size: 2em;
      };

  .login-form > input {
    width: 20%;
  };
  .btn {
  	font-size: 1em;
  };
}