* {
	box-sizing: border-box;
}

label {
	display: inline-block;
	padding: 10px 10px 0 0;
	font-weight: bold;
}
.order {
	text-align: center;
	margin: auto; 
}

#orderForm {
	border: black solid 3px;
	border-radius: 3px;
	width: 80%;
	margin: auto;
	text-align: center;
	background-color: white;
}

button{
	display: block;
	margin: 5px auto;
}

textarea{
	display: block;
	margin: 5px auto;
}

button {
	font-size: 1.2em;
	border: solid black 3px;
	border-radius: 4px;
	margin:20px auto;
	cursor: pointer;
}
h5{
	display: inline;
}
button:hover{
	transition:background-color 1s ease-out;
	-webkit-transition: background-color 1s ease-out;
	-moz-transition: background-color 1s ease-out;
	-o-transition: background-color 1s ease-out;
	background-color: black;
	color: white;
}

.column {
    float: left;
    width: 50%;
    padding: 5px 5px;
    margin: auto;
    text-align: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

select{
	width: 100px;
}

.success{
	background-color: white;
	color: green;
	font-size: 1em;
	text-align: center;
	border: solid black 3px;
	border-radius: 3px;
	display: inline-block;
	width: 50%;
	padding: 4px;
	margin: auto;
}

  #giftTo, #giftFrom {
    width: 50%;
    display: inline-block;
  }

  .column {
    float: left;
    width: 100%;
    padding: 5px 5px;
    margin: auto;
    display: inline-block;
}
 
 #deliveryDate{
  	width:100%;
 }

.mainContainer{
	width: 100%;
	display: block;
	box-sizing: border-box;
	text-align: center;
}

  .rightContainer{
	display: block; 
	margin-right: auto;
	margin-left: auto;
}




.leftContainer{
	display: inline-block;
	width: 60%;
}

textarea{
	width:80%;
}

/* Non-mobile, grid */
@media only screen and (min-width: 640px) {
  	
  #giftTo, #giftFrom {
    width: 50%;
  }

  .column {
  	display: inline-block;
    float: left;
    width: 33%;
    padding: 5px 5px;
    margin: auto;
    white-space: nowrap;
    text-align: center;
  }

  #deliveryDate{
  	width:80%;
  }
  .rightContainer {
	display: inline-block; 
	width: 30%;
	padding: 3px;
	float:right;
   }
   .success{
   	font-size: 1em;
   	margin: auto;
   }
}
