label {
	display: block;
	padding: 5px;
}
div {
	text-align: center;
	margin: auto;
}

form {
	display: inline-block;
}

button{
	display: block;
	margin: 5px auto;

}

textarea{
	display: block;
	margin: 5px auto;
}

img{
	width: 200px;
	display: block;
	margin: auto;
	border: solid black 3px;
	border-radius: 4px;
}
label{
	font-style: bold;
	padding: 3px;
	margin: 10px auto;
}

button{
	background-color: white;
	color: black;
	font-size: 1.2em;
	border: solid black 3px;
	border-radius: 4px;
	margin:20px auto;
}