* {
	box-sizing: border-box;
}

label {
	display: block;
	padding: 10px 10px 0 0;
	font-weight: bold;
	font-family: "Permanent Marker",comic-sans;
	font-size: 1.2em;
}

#orderForm {
	border: black solid 3px;
	border-radius: 10px;
	width: 80%;
	height:80%;
	margin: auto;
	text-align: center;
	background-color: white;
	opacity: 0.8;
}


button {
	display: block;
	font-size: 1.2em;
	border: solid black 3px;
	border-radius: 10px;
	margin:20px auto;
	cursor: pointer;
	font-family: "Permanent Marker",comic-sans;
}

button:hover {
	transition:background-color 1s ease-out;
	-webkit-transition: background-color 1s ease-out;
	-moz-transition: background-color 1s ease-out;
	-o-transition: background-color 1s ease-out;
	background-color: black;
	color: white;
}

h5 {
	display: inline;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

select {
	width: 50%;
}

.ccName {
   width: 50%;
   margin-bottom: 3px;
}

.success {
	background-color: white;
	font-size: 1em;
	text-align: center;
	border: solid black 3px;
	border-radius: 3px;
	display: inline-block;
	width: 70%;
	padding: 4px;
	margin: auto;
}

#giftTo, #giftFrom {
    width: 50%;
    display: inline-block;
}

.column {
	float: left;
	width: 100%;
	padding: 10px;
  }
  
 #deliveryDate {
  	width:100%;
 }


textarea {
	width:80%;
}
.mainContainer{
	text-align: center;
	opacity: .8;
}

/* Non-mobile, grid */
@media only screen and (min-width: 640px) {
  	
  #giftTo, #giftFrom {
    width: 50%;
  }

  .column {
  	display: inline-block;
    float: left;
    width: 33%;
    padding: 5px 5px;
    margin: auto;
    white-space: nowrap;
    text-align: center;
  }
  
  .ccName{
   width: 300px;
   margin-bottom: 3px;
   } 

  #deliveryDate{
  	width:80%;
  }
   .success{
   	font-size: 1em;
	margin: auto;
	width: 500px;
   }
}