.hero {
	display: block;
	margin: 5px auto;
	border: solid black 3px;
	border-radius: 4px;
	width:70%; 
} 

/* Non-mobile, grid */
@media only screen and (min-width: 640px) {
  	.hero{
  		 width:75%; 
  	}
}